# Gather data

### Import necessary libraries

In [1]:
import tweepy
import pandas as pd
import requests
import io
import json
import os
import glob
import numpy as np
import re
from datetime import datetime as dt

### Initialize twitter API access

In [2]:

consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth ,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

### Import twitter archive of user WeRateDogs

In [3]:
df = pd.read_csv("twitter-archive-enhanced.csv")

### Gather additional tweet data and save it in a folder

In [4]:
# Check which staus info is already collected
folder_name = "tweet_data"
ids_collected = list(map(lambda x: int(x[11:-4]), glob.glob(folder_name+"/*.txt")))

In [5]:
def get_tweet_status():
    '''
    Takes the status ids of the twitter archive csv and queries the twitter api for the complete information.
    Saves a text file with the information for each twitter status. Also saves a list of statuses that were 
    not able to be retrieved from the API
    
    Args:
        None
    Output:
        None
    '''
    # Create a folder to store all the tweet data inside
    if not os.path.exists(folder_name):
        os.makedirs(folder_name)

    # Error list for possibly deleted tweets
    error_list = []
    # Variable to measure progress
    i = 1
    # Get the status for each tweet id in the tweet_id column of the twitter archive
    
    for tweet_id in list(df.tweet_id):
        
        # Print progress status for every 20th call
        if i%20 ==0:
            print(str(i/len(df)*100)+"% of API download done")
        
        # If the id is already collected it should be skipped to save time
        if tweet_id not in ids_collected:
            try:
                tweet = api.get_status(tweet_id)
                data = tweet._json

                #Save the json data as a txt file with the corresponding tweet id (Saving as .txt to fulfill project rubric)
                with open(folder_name+"/"+str(tweet_id)+'.txt', 'w', encoding='utf-8') as f:
                    json.dump(data, f, ensure_ascii=False, indent=4)
            except Exception as e:
                error_list.append(tweet_id)
                print("The status of the tweet with id {} is not possible to access".format(tweet_id))
            # Store the tweet json data in a variable
            
                
        i+=1
        
    # Save the error list for later usage    
    pd.DataFrame(error_list).to_csv("na_ids.csv", index = False)

In [6]:
# Only used once to get the data
#get_tweet_status()

### Import tweet status data pulled from the API as text and write it in a dataframe
Comment: I saved the data as txt to fulfill the rubric of this project to work with three different kind of data.
It would have been a lot easier to query the json structure than this regex stuff which is quite an unrobust and dirty solution I think.

In [7]:
def text_to_df():  
    '''
    Takes the text files from the subfolder and saves the tweet id,
    follower_count, favourites of user count, retweet count and the 
    favourites of the post count in a dataframe.
    
    Args:
        None
    Output:
        Saves the data as a dataframe, returns no output.
    '''
    # Initialize list of dictionaries
    df_list = []

    for status in glob.glob(folder_name+"/*.txt"):
        with open(status, encoding = "utf-8") as file:
            # Read only the couple of first lines for the id, afterwards the files differ from each other
            lines = file.readlines()[2:4]
            file.seek(0)
            text = file.read()
            text_id = lines[1].strip()[11:-2]

            # Be sure that ids are consistent
            if text_id != status[11:-4]:
                raise Exception("Id saved in file does not match id from filename")

            # Find the needed data with regex, since line by line reading not possible
            follower_count = re.findall(r"\"followers_count\": (\d+),", text)[0]
            favourites_of_user_count = re.findall(r"\"favourites_count\": (\d+),", text)[0]
            favourite_of_post_count = re.findall(r"\"favorite_count\": (\d+),", text)[0]
            retweet_count = re.findall(r"\"retweet_count\": (\d+),", text)[0]

            # Append the list entry of dictionaries to create a dataframe
            df_list.append({"tweet_id": text_id,
                           "follower_count": follower_count,
                           "favourites_of_user_count": favourites_of_user_count,
                           "retweet_count": retweet_count,
                           "favourite_of_post_count": favourite_of_post_count})

            file.close()


    df_additional_data = pd.DataFrame(df_list, columns = ["tweet_id", "follower_count", "favourites_of_user_count", "retweet_count", "favourite_of_post_count"])
    df_additional_data.to_csv("api_twitter_status.csv")

In [8]:
# Only needed to run once to create the df
#text_to_df()

### Download the dog predictions file

In [9]:
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv').content

dog_predictions = pd.read_csv(io.StringIO(r.decode('utf-8')), sep = "\t")

dog_predictions.to_csv("dog_predictions.csv")

# Asses
Now that all needed data is gathered the three data frames are assessed.
The dataframes are:
 - twitter-archives-enhanced.csv
 - api_twitter_status.csv
 - dog_predictions.csv
 
 *All found issues are recorded at the bottom of this chapter*

In [10]:
twitter_df = pd.read_csv("twitter-archive-enhanced.csv")
api_df = pd.read_csv("api_twitter_status.csv", index_col = 0)
dogs_df = pd.read_csv("dog_predictions.csv", index_col = 0)
# List of statuses that were not available over the api
na_id = pd.read_csv("na_ids.csv")

In [11]:
twitter_df.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
553,804026241225523202,NaN,NaN,2016-11-30 18:16:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He's going to make me cry. 13/10 p...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/804026241...,13,10,Bo,None,None,None,None
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
146,863471782782697472,NaN,NaN,2017-05-13 19:11:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Say hello to Quinn. She's quite...,8.630625e+17,4.196984e+09,2017-05-12 16:05:02 +0000,"https://www.gofundme.com/helpquinny,https://tw...",13,10,Quinn,None,None,None,None
749,779124354206535695,NaN,NaN,2016-09-23 01:04:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Hurley. He's the curly one...,6.794628e+17,4.196984e+09,2015-12-23 00:45:35 +0000,https://twitter.com/dog_rates/status/679462823...,11,10,Hurley,None,None,None,None
470,816816676327063552,NaN,NaN,2017-01-05 01:20:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Timber. He misses Christmas. Specifica...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/816816676...,12,10,Timber,None,None,None,None

In [12]:
twitter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
type(twitter_df.timestamp[0])

str

In [14]:
twitter_df.in_reply_to_status_id.value_counts(dropna = False)

NaN             2278
6.671522e+17       2
6.737159e+17       1
6.753494e+17       1
6.754971e+17       1
                ...
8.707262e+17       1
8.482121e+17       1
6.715449e+17       1
6.936422e+17       1
8.406983e+17       1
Name: in_reply_to_status_id, Length: 78, dtype: int64

In [15]:
twitter_df.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [16]:
twitter_df.duplicated().sum()

0

In [17]:
api_df.sample(5)

,tweet_id,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count
1303,865718153858494464,8709204,144674,5320,24679
2245,670804601705242624,8709246,144674,926,1902
1750,670668383499735048,8709246,144674,4862,10406
378,748977405889503236,8709212,144674,3430,10895
1020,777189768882946048,8709208,144674,4403,14629

In [18]:
api_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 5 columns):
tweet_id                    2331 non-null int64
follower_count              2331 non-null int64
favourites_of_user_count    2331 non-null int64
retweet_count               2331 non-null int64
favourite_of_post_count     2331 non-null int64
dtypes: int64(5)
memory usage: 109.3 KB

In [19]:
api_df.duplicated().sum()

0

In [20]:
dogs_df.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1342,758854675097526272,https://pbs.twimg.com/media/Cof-SuqVYAAs4kZ.jpg,4,barrow,0.974047,False,Old_English_sheepdog,0.023791,True,komondor,0.001246,True
112,667911425562669056,https://pbs.twimg.com/media/CUTl5m1WUAAabZG.jpg,1,frilled_lizard,0.257695,False,ox,0.235160,False,triceratops,0.085317,False
333,672160042234327040,https://pbs.twimg.com/media/CVP9_beUEAAwURR.jpg,1,pug,0.561027,True,French_bulldog,0.222114,True,Labrador_retriever,0.065456,True
351,672523490734551040,https://pbs.twimg.com/media/CVVIjGbWwAAxkN0.jpg,1,golden_retriever,0.565981,True,chow,0.081212,True,Irish_terrier,0.061596,True
860,696900204696625153,https://pbs.twimg.com/media/CavjCdJW0AIB5Oz.jpg,1,Chihuahua,0.297735,True,Pembroke,0.266953,True,basenji,0.136814,True

In [21]:
dogs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 168.2+ KB

In [22]:
dogs_df.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
carton                  1
candle                  1
barbell                 1
remote_control          1
handkerchief            1
Name: p1, Length: 378, dtype: int64

In [23]:
dogs_df.duplicated().sum()

0

## Recording of issues
### Quality issues (dirty data, content issues)
 - Completeness: Is something missing?
 - Validity: Records are present but are faulty or in the wrong scheme
 - Accuracy: Records that are valid but have inaccurate measurements
 - Consistency: Technical correct but in different formats across tables or rows
#### twitter table
 - Retweets are included although they are not of interest
 - Replies to other statuses included although they are not of interest
 - Replies to users included although they are not of interest
 - Source column does not hold any valuable information
 - Timestamp is of type string
 - tweet_id is of type int
 - Remove columns without information
#### api table
 - tweet_id is of type int
 - Has missing tweets compared to the twitter table
#### dogs table
 - Naming of dog type is incoherent
 - tweet_id is of type int
 - Has missing tweets compared to the twitter table
### Tidyness iddues (structural issues)
 - Type of dog in the twitter table is streched over the last four columns although it is one variable
 - The twitter table and the api table are the same type of an observational unit (a twitter post)

# Cleaning the data

In [24]:
t_clean = twitter_df.copy()
a_clean = api_df.copy()
d_clean = dogs_df.copy()

### `twitter and api table` are the same type of an observational unit and api table has missing tweets
#### Define
Merge the two tables together on the tweet_id. Since the api table has less observations an inner merge on the ids available in both tables resolves two issues at the same time.

#### Code

In [25]:
t_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [26]:
a_clean.head(1)

,tweet_id,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count
0,684588130326986752,8709217,144674,1419,4146

In [27]:
status_df = t_clean.merge(a_clean, how = "inner", on = "tweet_id")

#### Test

In [28]:
status_df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,rating_denominator,name,doggo,floofer,pupper,puppo,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,10,Phineas,None,None,None,None,8709203,144674,7776,36526

In [29]:
status_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 21 columns):
tweet_id                      2331 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2331 non-null object
source                        2331 non-null object
text                          2331 non-null object
retweeted_status_id           163 non-null float64
retweeted_status_user_id      163 non-null float64
retweeted_status_timestamp    163 non-null object
expanded_urls                 2272 non-null object
rating_numerator              2331 non-null int64
rating_denominator            2331 non-null int64
name                          2331 non-null object
doggo                         2331 non-null object
floofer                       2331 non-null object
pupper                        2331 non-null object
puppo                         2331 non-null object
follower_count                2331 non-null int64
favourites_of_user_count      2331 non-null int64
retweet_count                 2331 non-null int64
favourite_of_post_count       2331 non-null int64
dtypes: float64(4), int64(7), object(10)
memory usage: 400.6+ KB

### `twitter table` (now status_df table) Type of dog in the twitter table is streched over the last four columns although it is one variable
#### Define
Make a new column with a variable for the type of dog and get rid of the four type of dog columns.

#### Code

In [30]:
status_df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,rating_denominator,name,doggo,floofer,pupper,puppo,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,10,Phineas,None,None,None,None,8709203,144674,7776,36526

In [31]:
# If no dogtype is present one of the dogtype gets an entry so it is easier to clean after melting
for i in range(len(status_df)):
    if status_df.iloc[i,13]==status_df.iloc[i,14]==status_df.iloc[i,15]==status_df.iloc[i,16]:
        status_df.loc[i, "doggo"] = "no dogtype"

In [32]:
status_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,rating_denominator,name,doggo,floofer,pupper,puppo,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,10,Phineas,no dogtype,None,None,None,8709203,144674,7776,36526
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,10,Tilly,no dogtype,None,None,None,8709202,144674,5762,31472
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,10,Archie,no dogtype,None,None,None,8709202,144674,3814,23715
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,10,Darla,no dogtype,None,None,None,8709203,144674,7948,39850
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,10,Franklin,no dogtype,None,None,None,8709202,144674,8574,38047

In [33]:
# Create a list for all the columns that should stay the same during melting
id_columns = list(status_df.columns[:13])
for item in list(status_df.columns[17:]):
    id_columns.append(item)

In [34]:
status_df = pd.melt(status_df, id_vars = id_columns, var_name = "dog_type", value_name='dog')

In [35]:
status_df = status_df.query("dog != 'None'")
len(status_df)

2345

In [36]:
# show all duplicates
len(status_df[status_df.tweet_id.duplicated(keep = False)].sort_values(by="tweet_id"))

28

In [37]:
# 14 statuses included two types of dogtype. Since it is ambigious which type is referencing the pictures all are removed
# from the dataset. This is ok since it is only a small number

In [38]:
# Get a list of the tweet ids with duplicates
duplicates = list(status_df[status_df.tweet_id.duplicated(keep = False)].tweet_id)

In [39]:
# Remove all rows whose tweet ids are in the duplicates list
status_df = status_df[~status_df['tweet_id'].isin(duplicates)]

In [40]:
for i in range(len(status_df)):
    if status_df.iloc[i,-1]=="no dogtype":
        status_df.iloc[i, -2] = "no dogtype"

In [41]:
status_df = status_df.drop(columns = "dog")

#### Test

In [42]:
status_df.dog_type.value_counts()

no dogtype    1956
pupper         243
doggo           80
puppo           29
floofer          9
Name: dog_type, dtype: int64

In [43]:
status_df.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count,dog_type
1480,691820333922455552,NaN,NaN,2016-01-26 03:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Brockly. He's an uber driver. Falls as...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/691820333...,8,10,Brockly,8709217,144674,1668,3981,no dogtype
1705,679854723806179328,NaN,NaN,2015-12-24 02:42:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruce. He's a rare pup. Covered in Fro...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679854723...,7,10,Bruce,8709244,144674,1231,2872,no dogtype
2247,667491009379606528,NaN,NaN,2015-11-19 23:53:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Two dogs in this one. Both are rare Jujitsu Py...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667491009...,7,10,None,8709247,144674,214,515,no dogtype
2129,669625907762618368,NaN,NaN,2015-11-25 21:17:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Penny. She's having fun AND being safe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669625907...,12,10,Penny,8709247,144674,1759,3441,no dogtype
1074,736010884653420544,NaN,NaN,2016-05-27 01:47:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Right after you graduate vs when you remember ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/736010884...,10,10,None,8709212,144674,3004,7935,no dogtype

### `twitter table` (now status table) 
 - Retweets are included although they are not of interest
 - Replies to other statuses included although they are not of interest
 - Replies to users included although they are not of interest
#### Define
Remove all retweets and replies of and to other statuses and users by identifying rows that hold values that are not NaN
#### Code

In [44]:
stat_df = status_df.copy()

In [45]:
len(stat_df)

2317

In [46]:
stat_df = stat_df[stat_df['in_reply_to_status_id'].isna()]

In [47]:
len(stat_df)

2240

In [48]:
stat_df = stat_df[stat_df['in_reply_to_user_id'].isna()]

len(stat_df)

2240

In [49]:
stat_df = stat_df[stat_df['retweeted_status_id'].isna()]

len(stat_df)

2079

In [50]:
stat_df = stat_df[stat_df['retweeted_status_user_id'].isna()]

len(stat_df)

2079

#### Test

In [51]:
stat_df.in_reply_to_status_id.value_counts()

Series([], Name: in_reply_to_status_id, dtype: int64)

In [52]:
stat_df.in_reply_to_user_id.value_counts()

Series([], Name: in_reply_to_user_id, dtype: int64)

In [53]:
stat_df.retweeted_status_id.value_counts()

Series([], Name: retweeted_status_id, dtype: int64)

In [54]:
stat_df.retweeted_status_user_id.value_counts()

Series([], Name: retweeted_status_user_id, dtype: int64)

#### Define 
Remove the columns that do not hold any information anymore. (The four columns tested above)

#### Code

In [69]:
stat_df.drop(columns = ["in_reply_to_status_id", "in_reply_to_user_id", "retweeted_status_id", "retweeted_status_user_id", "retweeted_status_timestamp"], inplace = True)

KeyError: "['in_reply_to_status_id' 'in_reply_to_user_id' 'retweeted_status_id'\n 'retweeted_status_user_id'] not found in axis"

In [70]:
stat_df.head(5)

,tweet_id,timestamp,source,text,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count,dog_type
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,8709203,144674,7776,36526,no dogtype
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,8709202,144674,5762,31472,no dogtype
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,8709202,144674,3814,23715,no dogtype
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,8709203,144674,7948,39850,no dogtype
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,8709202,144674,8574,38047,no dogtype

### `all tables` tweet_id is of type int
### `stat table` timestamp is string
#### Define
Change all tweet_id columns from int to string.
Change the timestamp format from string to datetime

#### Code

In [55]:
stat_df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,follower_count,favourites_of_user_count,retweet_count,favourite_of_post_count,dog_type
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,8709203,144674,7776,36526,no dogtype

In [56]:
stat_df["tweet_id"] = stat_df["tweet_id"].astype(str)
d_clean["tweet_id"] = d_clean["tweet_id"].astype(str)

In [57]:
stat_df["timestamp"] = pd.to_datetime(stat_df["timestamp"])

#### Test

In [58]:
d_clean.tweet_id[0]

'666020888022790149'

In [59]:
stat_df.tweet_id[0]

'892420643555336193'

In [60]:
stat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2079 entries, 0 to 8052
Data columns (total 18 columns):
tweet_id                      2079 non-null object
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2079 non-null datetime64[ns, UTC]
source                        2079 non-null object
text                          2079 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2076 non-null object
rating_numerator              2079 non-null int64
rating_denominator            2079 non-null int64
name                          2079 non-null object
follower_count                2079 non-null int64
favourites_of_user_count      2079 non-null int64
retweet_count                 2079 non-null int64
favourite_of_post_count       2079 non-null int64
dog_type                      2079 non-null object
dtypes: datetime64[ns, UTC](1), float64(4), int64(6), object(7)
memory usage: 388.6+ KB

# Storing the data

In [62]:
stat_df.to_csv("tweets_clean.csv", index = False)
d_clean.to_csv("dog_predictions_clean.csv", index = False)

# Analysis
 - Which dog breeds get the most likes by users (favourites and retweets)
 - Which dog breeds get the best ratings by the WeRateDogs
 - How does the account popularity develop over time

#### Which dog breeds get the most likes by users?

In [63]:
tweets = pd.read_csv("tweets_clean.csv")
dogs = pd.read_csv("dog_predictions_clean.csv")

In [64]:
dogs.head(1)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True

In [65]:
# Merge the two dataframes
df = tweets.merge(dogs, how="inner", on = "tweet_id")

In [66]:
df.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False